.box {
  width: 1000px;
  min-height: 380px;
  overflow: hidden;
}

a {
  color: rgba(34,34,34,.8);
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

input {
  border: none;
  outline: none;
}